<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @model.User %>
</p>

<p>
  <strong>First name:</strong>
  <%= @model.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @model.last_name %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
